<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>
<style>
    .el-header {
        background-color: rgb(238, 241, 246);
        color: #333;
        line-height: 60px;
    }

    .el-aside {
        color: #333;
    }
</style>

<body>
    <script src="https://unpkg.com/vue@2/dist/vue.js"></script>
    <!-- import JavaScript -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- <script src="https://unpkg.com/xlsx/dist/xlsx.js"></script> -->
    <!-- <script src="https://unpkg.com/vue-router@3/dist/vue-router.js"></script> -->
    <div id="app" style="height: 100%">
        <el-container style="height: 100%; border: 1px solid #eee">
            <el-aside width="200px" style="background-color: rgb(238, 241, 246)">
                <el-menu :default-openeds="['1','2','3','4','5']" @select="handleSelect">
                    <el-submenu index="1">
                        <template slot="title"><i class="el-icon-message"></i>用户管理</template>
                        <el-menu-item-group>
                            <el-menu-item @select="handleSelect" index="1-1">登录信息</el-menu-item>
                        </el-menu-item-group>
                        <!-- <el-submenu index="1-4">
            <template slot="title">选项4</template>
            <el-menu-item index="1-4-1">选项4-1</el-menu-item>
          </el-submenu> -->
                    </el-submenu>
                    <el-submenu index="2">
                        <template slot="title"><i class="el-icon-user"></i>学生管理</template>
                        <el-menu-item-group>
                            <el-menu-item index="2-1">学生信息</el-menu-item>
                            <el-menu-item index="2-2">选课管理</el-menu-item>
                        </el-menu-item-group>
                    </el-submenu>
                    <el-submenu index="3">
                        <template slot="title"><i class="el-icon-user-solid"></i>教师管理</template>
                        <el-menu-item-group>
                            <el-menu-item index="3-1">教师信息</el-menu-item>
                            <el-menu-item index="3-2">授课信息</el-menu-item>
                        </el-menu-item-group>
                    </el-submenu>
                    <el-submenu index="4">
                        <template slot="title"><i class="el-icon-s-flag"></i>课程管理</template>
                        <el-menu-item-group>
                            <el-menu-item index="4-1">课程信息</el-menu-item>
                        </el-menu-item-group>
                    </el-submenu>
                    <el-submenu index="5">
                        <template slot="title"><i class="el-icon-s-cooperation"></i>成绩管理</template>
                        <el-menu-item-group>
                            <el-menu-item index="5-1">成绩管理</el-menu-item>
                            <!-- <el-menu-item index="5-2">成绩分析</el-menu-item> -->
                        </el-menu-item-group>
                    </el-submenu>
                </el-menu>
            </el-aside>

            <el-container>
                <el-header style="text-align: right; font-size: 12px">
                    <el-dropdown style="margin-right: 15px;">
                        <i class="el-icon-setting"></i>
                        <el-dropdown-menu slot="dropdown">
                            <el-dropdown-item>帐号</el-dropdown-item>
                            <el-dropdown-item @click.native="logout">退出</el-dropdown-item>
                        </el-dropdown-menu>
                    </el-dropdown>
                    <el-avatar style="position: relative; top: 10px;" src="../img/avatar.jpeg"></el-avatar>
                </el-header>
                <el-header style="text-align: left; font-size: 12px;background-color: #fff;">
                    <!-- <el-upload class="upload-demo" action="https://jsonplaceholder.typicode.com/posts/"
                        :on-preview="handlePreview" :on-remove="handleRemove" :before-remove="beforeRemove" multiple
                        :limit="3" :on-exceed="handleExceed" :file-list="fileList">
                        <el-button size="small" type="primary">点击上传</el-button>
                        <div slot="tip" class="el-upload__tip">只能上传jpg/png文件，且不超过500kb</div>
                    </el-upload> -->
                    <el-input v-model="input" placeholder="请输入内容" @keyup.native.enter="handleCommand"
                        style="margin-right:10px;width: 150px;"></el-input>
                    <!-- <el-dropdown @command="handleCommand" style="margin-right:10px;">
                        <el-button type="primary">
                            查询方式<i class="el-icon-arrow-down el-icon--right"></i>
                        </el-button>
                        <el-dropdown-menu slot="dropdown">
                            <el-dropdown-item command="stu">按学号查询</el-dropdown-item>
                            <el-dropdown-item command="course">按课程号查询</el-dropdown-item>
                        </el-dropdown-menu>
                    </el-dropdown> -->
                    <el-select v-model="value" placeholder="请选择" style="margin-right:10px;">
                        <el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value">
                        </el-option>
                    </el-select>
                    <el-button type="primary" @click="insertDialogVisible = true;" plain>添加</el-button>
                    <el-button type="warning" @click="
                    if( currentRow == null ) {
                        $message({
                            message: '请先选择一行数据',
                            type: 'warning'
                        });
                    }
                    else{
                        updateDialogVisible = true;
                        formLabelAlign.student_id = currentRow.student_id;
                        formLabelAlign.course_id = currentRow.course_id;
                        formLabelAlign.score = currentRow.score;
                    }
                    " plain>修改</el-button>
                    <el-button type="danger" @click="
                    if( currentRow == null ) {
                        $message({
                            message: '请先选择一行数据',
                            type: 'warning'
                        });
                    }
                    else{
                        confirmDialogVisible = true;
                    }
                    " plain>删除</el-button>
                </el-header>
                <el-main>
                    <el-table ref="table" @row-click="handleRowClick" :row-style="rowStyle"
                        :data="tableData.slice((currentPage-1)*pagesize,currentPage*pagesize)">
                        <el-table-column v-for="column in columns" :key="column.prop" :prop="column.prop"
                            :label="column.label">
                        </el-table-column>
                    </el-table>
                    <el-pagination layout="prev, pager, next" :total="total" :page-size="pagesize"
                        @current-change="current_change">
                    </el-pagination>
                </el-main>
            </el-container>
        </el-container>

        <el-dialog title="成绩信息" :visible.sync="insertDialogVisible" width="30%" :before-close="handleClose"
            :close-on-click-modal="false">
            <span></span>
            <span slot="footer" class="dialog-footer">
                <div style="margin: 20px;"></div>
                <el-form :label-position="labelPosition" label-width="80px" :model="formLabelAlign">
                    <el-form-item label="学号">
                        <el-input v-model="formLabelAlign.student_id" disabled></el-input>
                    </el-form-item>
                    <el-form-item label="课程号">
                        <el-input v-model="formLabelAlign.course_id"></el-input>
                    </el-form-item>
                    <el-form-item label="成绩">
                        <el-input v-model="formLabelAlign.score"></el-input>
                    </el-form-item>
                </el-form>
                <el-button @click="clean();insertDialogVisible = false">取 消</el-button>
                <el-button type="primary" @click="insertScore">确 定</el-button>
            </span>
        </el-dialog>
        <el-dialog title="成绩信息" :visible.sync="updateDialogVisible" width="30%" :before-close="handleClose"
            :close-on-click-modal="false">
            <span></span>
            <span slot="footer" class="dialog-footer">
                <div style="margin: 20px;"></div>
                <el-form :label-position="labelPosition" label-width="80px" :model="formLabelAlign">
                    <el-form-item label="学号">
                        <el-input v-model="formLabelAlign.student_id" disabled></el-input>
                    </el-form-item>
                    <el-form-item label="课程号">
                        <el-input v-model="formLabelAlign.course_id"></el-input>
                    </el-form-item>
                    <el-form-item label="成绩">
                        <el-input v-model="formLabelAlign.score"></el-input>
                    </el-form-item>
                </el-form>
                <el-button @click="clean();updateDialogVisible = false">取 消</el-button>
                <el-button type="primary" @click="updateScore">确 定</el-button>
            </span>
        </el-dialog>
        <el-dialog title="提示" :visible.sync="confirmDialogVisible" width="30%" :before-close="handleClose"
            :close-on-click-modal="false">
            <span>你确定要删除吗</span>
            <span slot="footer" class="dialog-footer">
                <el-button @click="clean();confirmDialogVisible = false">取 消</el-button>
                <el-button type="primary" @click="deleteScore">确 定</el-button>
            </span>
        </el-dialog>
    </div>
</body>
<script>
    var Main = {
        mounted() {
            this.findAllScore();
        },
        data() {
            return {
                fileList: [{ name: 'food.jpeg', url: 'https://fuss10.elemecdn.com/3/63/4e7f3a15429bfda99bce42a18cdd1jpeg.jpeg?imageMogr2/thumbnail/360x360/format/webp/quality/100' }, { name: 'food2.jpeg', url: 'https://fuss10.elemecdn.com/3/63/4e7f3a15429bfda99bce42a18cdd1jpeg.jpeg?imageMogr2/thumbnail/360x360/format/webp/quality/100' }],
                options: [{
                    value: 'course',
                    label: '按课程号查询'
                }, {
                    value: 'stu',
                    label: '按学号查询'
                }],
                value: '',
                total: 0,//总条数
                pagesize: 15,//指定展示多少条
                currentPage: 1,//当前页码
                input: '',
                updateDialogVisible: false,
                insertDialogVisible: false,
                confirmDialogVisible: false,
                dialogFormVisible: false,
                labelPosition: 'right',
                currentRow: null,
                formLabelAlign:
                {
                    student_id: '',
                    course_id: '',
                    score: ''
                },
                tableData: [],
                columns: [],
                scoreColumns: [
                    {
                        prop: 'student_id',
                        label: '学号'
                    },
                    {
                        prop: 'course_id',
                        label: '课程号'
                    },
                    {
                        prop: 'score',
                        label: '成绩'
                    }
                ]
            }
        },
        methods: {
            handleRemove(file, fileList) {
                console.log(file, fileList);
            },
            handlePreview(file) {
                console.log(file);
            },
            handleExceed(files, fileList) {
                this.$message.warning(`当前限制选择 3 个文件，本次选择了 ${files.length} 个文件，共选择了 ${files.length + fileList.length} 个文件`);
            },
            beforeRemove(file, fileList) {
                return this.$confirm(`确定移除 ${file.name}？`);
            },
            logout() {
                window.location.href = '../index.html'
            },
            current_change(currentPage) {
                this.currentPage = currentPage;
            },
            clean() {
                this.currentRow = null;
                this.value = '';
                this.formLabelAlign.student_id = '';
                this.formLabelAlign.course_id = '';
                this.formLabelAlign.score = '';
            },
            handleRowClick(row) {
                if (this.currentRow === row) {
                    this.currentRow = null;
                } else {
                    this.currentRow = row;
                }
            },
            rowStyle({ row }) {
                if (this.currentRow === row) {
                    return {
                        backgroundColor: 'rgb(238, 241, 246)',
                    };
                }
                return {};
            },
            findAllScore() {
                axios.get('/findAllScore')
                    .then(res => {
                        this.tableData = res.data;
                        this.columns = this.scoreColumns;
                        this.$nextTick(() => {
                            this.$refs.table.doLayout();
                        });
                        this.total = res.data.length;
                    })
            },
            findScoreByStu() {
                axios({
                    url: "/findScoreByStu",
                    method: "post",
                    data: {
                        student_id: this.input
                    },
                    headers: {
                        "Content-type": "application/x-www-form-urlencoded;charset=utf-8"
                    }
                }).then(res => {
                    this.tableData = res.data;
                    this.columns = this.scoreColumns;
                    this.$nextTick(() => {
                        this.$refs.table.doLayout();
                    });
                })
            },
            findScoreByCourse() {
                axios({
                    url: "/findScoreByCourse",
                    method: "post",
                    data: {
                        course_id: this.input
                    },
                    headers: {
                        "Content-type": "application/x-www-form-urlencoded;charset=utf-8"
                    }
                }).then(res => {
                    this.tableData = res.data;
                    this.columns = this.scoreColumns;
                    this.$nextTick(() => {
                        this.$refs.table.doLayout();
                    });
                })
            },
            handleCommand() {
                if (this.input == '') {
                    this.findAllScore();
                }
                else {
                    switch (this.value) {
                        case 'stu':
                            this.findScoreByStu();
                            break;
                        case 'course':
                            this.findScoreByCourse();
                        default:
                            break;
                    }
                }

            },
            handleSelect(index) {
                switch (index) {
                    case '1-1':
                        window.location.href = "./login_index.html";
                        break;
                    case '2-1':
                        window.location.href = "./student.html";
                        break;
                    case '2-2':
                        window.location.href = "./student_course.html";
                        break;
                    case '3-1':
                        window.location.href = "./teacher.html";
                        break;
                    case '3-2':
                        window.location.href = "./teacher_course.html";
                        break;
                    case '4-1':
                        window.location.href = "./course.html";
                        break;
                    case '5-1':
                        window.location.href = "./score.html";
                        break;
                    // case '5-2':
                    //     window.location.href = "./score_view.html";
                    default:
                        break;
                }
            },
            handleClose(done) {
                this.$confirm('确认关闭？')
                    .then(_ => {
                        this.clean();
                        done();
                    })
                    .catch(_ => { });
            },
            insertScore() {
                axios({
                    url: "/insertScore",
                    method: "post",
                    data: this.formLabelAlign,
                    headers: {
                        "Content-type": "application/x-www-form-urlencoded;charset=utf-8"
                    }
                }).then(res => {
                    if (res.data == 1) {
                        this.$message('添加成功');
                        this.insertDialogVisible = false;
                    }
                    else {
                        this.$message('添加失败');
                        this.insertDialogVisible = false;
                    }
                    this.clean();
                    this.findAllScore();
                })
            },
            updateScore() {
                axios({
                    url: "/updateScore",
                    method: "post",
                    data: this.formLabelAlign,
                    headers: {
                        "Content-type": "application/x-www-form-urlencoded;charset=utf-8"
                    }
                }).then(res => {
                    if (res.data == 1) {
                        this.$message('修改成功');
                        this.updateDialogVisible = false;
                    }
                    else {
                        this.$message('修改失败');
                        this.updateDialogVisible = false;
                    }
                    this.clean();
                    this.findAllScore();
                })
            },
            deleteScore() {
                axios({
                    url: "/deleteScore",
                    method: "post",
                    data: {
                        student_id: this.currentRow.student_id,
                        course_id: this.currentRow.course_id
                    },
                    headers: {
                        "Content-type": "application/x-www-form-urlencoded;charset=utf-8"
                    }
                }).then(res => {
                    this.confirmDialogVisible = false;
                    if (res.data == 1) {
                        this.$message('删除成功');
                    }
                    else {
                        this.$message('删除失败');
                    }
                    this.clean();
                    this.findAllScore();
                })
            }
        }
    }
    axios.defaults.baseURL = 'http://127.0.0.1:8080/'
    var Ctor = Vue.extend(Main)
    new Ctor().$mount('#app')
</script>

</html>