<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="cacheEnabled" value="false"/>
        <setting name="logImpl" value="LOG4J2"/>
    </settings>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="org.mariadb.jdbc.Driver"/>
                <property name="url" value="jdbc:mariadb://127.0.0.1:3306/grade"/>
                <property name="username" value="root"/>
                <property name="password" value="796184@.cnCN"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="com/ray/dao/studentDao.xml"/>
        <mapper resource="com/ray/dao/teacherDao.xml"/>
        <mapper resource="com/ray/dao/courseDao.xml"/>
    </mappers>
</configuration>